{
  "openapi": "3.0.3",
  "info": {
    "title": "HERE Fleet Telematics API",
    "description": "HERE Fleet Telematics API comprises the 4 HERE Location Services 'Geofencing', 'Map Attributes', 'Route Matching' and 'Waypoints Sequence'. It supersedes the services CLE, CRE, GFE, GFE on Maps, PDE, RME, TCE, WSE and Advanced Datasets.",
    "contact": {
    },
    "license": {
    },
    "version": "8.0.7",
    "x-document-meta-data": {
      "copyright": "© 2021 HERE Europe B.V.",
      "document-id": "c1ed2e22-b75c-4839-b051-d3b73fee1acd",
      "date-created": "2021-08-03T05:36:24+00:00"
    }
  },
  "servers": [
    {
      "url": "https://fleet.ls.hereapi.com"
    }
  ],
  "tags": [
    {
      "name": "Geofencing",
      "description": "The HERE Geofencing API can geofence asset positions against HERE Map objects or custom fence objects"
    },
    {
      "name": "Map Attributes",
      "description": "The HERE Map Attributes API offes simple and fast access to the rich HERE Map Content, seamlessly extensible by your own map data"
    },
    {
      "name": "Route Matching",
      "description": "Match GPS traces onto the most probably driven path"
    },
    {
      "name": "Routing Extensions & Route Matching",
      "description": "Route calculation with enterprise features"
    },
    {
      "name": "Search",
      "description": "Retrieve map features & custom features"
    },
    {
      "name": "Upload Data",
      "description": "Upload custom roads/restrictions and custom POIs"
    },
    {
      "name": "Waypoints Sequence",
      "description": "Compute best Sequence for Waypoints (Travelling Salesman Problem)"
    }
  ],
  "paths": {
    "/2/doc/maps.json": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "List the available custom maps",
        "operationId": "mapsJSONUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "map_name",
            "in": "query",
            "description": "Optional. Restrict the search to return only the info on this map. Default: All maps of this app_id.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public_maps",
            "in": "query",
            "description": "Optional. If '1' then the public maps are also listed.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/MapDocResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/v8/geofence": {
      "get": {
        "tags": [
          "Geofence",
          "Geofencing"
        ],
        "summary": "Simple and fast search for geometries on HERE Map Content layers, extensible with custom geometry layers",
        "description": "Simple and fast search for geometries on HERE Map Content layers, extensible with custom geometry layers",
        "operationId": "geofenceUsingGET",
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layers",
            "in": "query",
            "description": "Comma separated list of layer names to be searched. Layer names are not case sensitive. The maximum length of a layer name and the permitted characters can be looked up up in the service via /serviceconfiguration.json",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "in",
            "in": "query",
            "description": "Spatial filtering. Supported is polygon. \r\nThe format is &in=polygon:{polygon coordinates e.g., lat1,lon1,lat2,lon2,lat3,lon3,...}.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "link2stabletopologyid",
            "in": "query",
            "description": "When set to 1 then stable topology ids are returned in the response. The default value is 1.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "meta",
            "in": "query",
            "description": "When set to 1 then meta info is returned in the response. The default value is 1.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/MapAttributesV8Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/2/layers/access/grant.json": {
      "get": {
        "tags": [
          "Upload Data"
        ],
        "summary": "Grant other app_ids Access to Geometry Layers",
        "operationId": "grantPermissionUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer_id",
            "in": "query",
            "description": "name of layer for which to grant access",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granted_app_id",
            "in": "query",
            "description": "Other app_id that will get access to the layer",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissions",
            "in": "query",
            "description": "Comma separated list containing read, write and/or export. read allows searches on the layer (except all.json or all.txt), write allows uploading or modifying the layer and export allows all searches. Regardless of the previous permissions, the granted_app_id replaces these access rights. An empty list revokes all permissions.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "map_name",
            "in": "query",
            "description": "set the permissions for the layer in this map, default = set the permissions for the layer in app_id's default map",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayerPermissionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/2/layers/delete.json": {
      "get": {
        "tags": [
          "Upload Data"
        ],
        "summary": "Delete some of my Geometry Layers",
        "operationId": "deleteLayersUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer_ids",
            "in": "query",
            "description": "Comma separated list of layers to delete",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "map_name",
            "in": "query",
            "description": "delete the layers within this map, default = delete the layers in app_id's default map",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteLayersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/2/layers/list.json": {
      "get": {
        "tags": [
          "Search",
          "Upload Data"
        ],
        "summary": "List custom geometry Layers",
        "operationId": "listUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storage",
            "in": "query",
            "description": "Either updatable or readonly. Default = both.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "map_name",
            "in": "query",
            "description": "show only the layers of this map, default = show the layers of all maps",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "public_maps",
            "in": "query",
            "description": "Optional. if '1' then the public HERE map layers are listed as well.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLayersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/2/layers/modify.json": {
      "get": {
        "tags": [
          "Upload Data"
        ],
        "summary": "Modify Geometries in Existing Layers",
        "description": "Modify geometries using an HTTP GET or POST request. After the response there is a delay of several seconds to compile, store and make the modified geometries available in the service.\r\nNote: The level (tile grid size) of the layer can only be changed by uploading the whole layer, not as a modification operation.",
        "operationId": "modifyGetUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "changes",
            "in": "query",
            "description": "For GET requests: URL-encoded WKT file content as parameter value. For POST requests: Instead of this parameter, a multipart/form-data body is sent. The supported file formats and the parameter name are the same as for upload.json.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer_id",
            "in": "query",
            "description": "name of layer to modify",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "append, update or delete. Geometries are identified by their geometry_id column value. For append, the geometries must not exist yet and will be added. For update, the geometries must exist and will be replaced. All column values must be specified, not only the changes. For update and delete, the columns must not change - names, sequence orders and type must be identical. For delete, the geometries must exist and will be replaced. Only the geometry_id column is required.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wkt_quote",
            "in": "query",
            "description": "Specify the quote character to use. Default = \" (double quotes). Specifying NONE disables quotes.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "map_name",
            "in": "query",
            "description": "update the layer in this map, default = update the layer within the app_id's default map",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayerModifyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Modify Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayerModifyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Upload Data"
        ],
        "summary": "Modify Geometries in Existing Layers",
        "description": "Modify geometries using an HTTP GET or POST request. After the response there is a delay of several seconds to compile, store and make the modified geometries available in the service.\r\nNote: The level (tile grid size) of the layer can only be changed by uploading the whole layer, not as a modification operation.",
        "operationId": "modifyPostUsingPOST",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer_id",
            "in": "query",
            "description": "name of layer to modify",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "append, update or delete. Geometries are identified by their geometry_id column value. For append, the geometries must not exist yet and will be added. For update, the geometries must exist and will be replaced. All column values must be specified, not only the changes. For update and delete, the columns must not change - names, sequence orders and type must be identical. For delete, the geometries must exist and will be replaced. Only the geometry_id column is required.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "map_name",
            "in": "query",
            "description": "update the layer in this map, default = update the layer within the app_id's default map",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wkt_quote",
            "in": "query",
            "description": "Specify the quote character to use. Default = \" (double quotes). Specifying NONE disables quotes.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayerModifyResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Modify Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayerModifyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/2/layers/upload.json": {
      "get": {
        "tags": [
          "Upload Data"
        ],
        "summary": "Import Geometries in a WKT or Shape File",
        "description": "Import polygons, polylines or points in WKT (Wellknown Text) or Shapefile format geometries using an HTTP POST request, or import WKT geometries using HTTP GET. A layer can contain only one geometry type - polygons, polylines or points, but not a mix of different types. After the response there is a delay of several seconds to compile, store and make the geometries available in the service.",
        "operationId": "uploadGetUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file",
            "in": "query",
            "description": "For GET requests: URL-encoded WKT file content as parameter value. For POST requests: Instead of this parameter, a multipart/form-data body is sent. The filename of the multipart entity is arbitrary. The file can be a plain or zipped WKT text file ending with .wkt, or a zipped archive containing a .shp, .shx and .dbf file (optionally .prj or .cpg files). A WKT file consists of TAB separated elements. The first line contains the column names, the last column must be \"wkt\". The subsequent lines contain the content, the attributes and the geometry. To create an index on a set of columns for faster all.json responses, append ;* to these column names.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer_id",
            "in": "query",
            "description": "name of layer to create/replace",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Specify tile size for the database for performance optimization",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "storage",
            "in": "query",
            "description": "Either updatable or readonly. Default = updatable.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wkt_quote",
            "in": "query",
            "description": "Specify the quote character to use. Default = \" (double quotes). Specifying NONE disables quotes.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "map_name",
            "in": "query",
            "description": "upload the layer into this map, default = upload the layer into the app_id's default map",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indexColumns",
            "in": "query",
            "description": "Specify columns of the layer that should be indexed. Column name is followed by semi-colon(;) and indexing type. Supported indexing type are: order(o), text(t) or both order,text(o,t). Columns are separated by pipe(|). Example &indexColumns=POI_ID;order|CAT_ID;text|ADMIN_IDS;order,text",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granted_app_ids",
            "in": "query",
            "description": "granted_app_ids",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayerUploadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Upload Data"
        ],
        "summary": "Import Geometries in a WKT or Shape File",
        "description": "Import polygons, polylines or points in WKT (Wellknown Text) or Shapefile format geometries using an HTTP POST request, or import WKT geometries using HTTP GET. A layer can contain only one geometry type - polygons, polylines or points, but not a mix of different types. After the response there is a delay of several seconds to compile, store and make the geometries available in the service.",
        "operationId": "uploadPostUsingPOST",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer_id",
            "in": "query",
            "description": "name of layer to create/replace",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "level",
            "in": "query",
            "description": "Specify tile size for the database for performance optimization",
            "required": false,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "storage",
            "in": "query",
            "description": "Either updatable or readonly. Default = updatable.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wkt_quote",
            "in": "query",
            "description": "Specify the quote character to use. Default = \" (double quotes). Specifying NONE disables quotes.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "map_name",
            "in": "query",
            "description": "upload the layer into this map, default = upload the layer into the app_id's default map",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "indexColumns",
            "in": "query",
            "description": "Specify columns of the layer that should be indexed. Column name is followed by semi-colon(;) and indexing type. Supported indexing type are: order(o), text(t) or both order,text(o,t). Columns are separated by pipe(|). Example &indexColumns=POI_ID;order|CAT_ID;text|ADMIN_IDS;order,text",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "granted_app_ids",
            "in": "query",
            "description": "granted_app_ids",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "binary"
              },
              "encoding": {
                "file": {
                  "contentType": "text/plain"
                }
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              },
              "encoding": {
                "file": {
                  "contentType": "text/plain"
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "string"
              },
              "encoding": {
                "file": {
                  "contentType": "text/plain"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayerUploadResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/2/maps/delete.json": {
      "get": {
        "tags": [
          "Upload Data"
        ],
        "summary": "Delete one of my Maps",
        "operationId": "deleteMapsUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "map_name",
            "in": "query",
            "description": "name of map to delete",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storage",
            "in": "query",
            "description": "Either updatable or readonly. Default = both.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteLayersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/doc/attributes.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "List the layer attributes across all layers",
        "description": "List the map layer attributes across all layers. Does not list the custom layers.",
        "operationId": "attributesJSONUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AttributeDocBean"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/doc/indexes.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "List available layer indexes",
        "description": "List the available indexes of all available layers. Does not list indexes of custom layers.",
        "operationId": "indexesJSONUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/IndexDocBean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/doc/layer.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "List the layer attributes",
        "description": "List the attributes of a given layer. Does not list the custom layers.",
        "operationId": "layerJSONUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer",
            "in": "query",
            "description": "layer",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/LayerDetailDocBean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/doc/layers.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "List the available map layers",
        "description": "List available map layers. To see only the layers of a given map region, like Postal Code Boundaries, then specify it as map 'region'. Does not list the custom layers.",
        "operationId": "layersJSONUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LayerDocBean"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/doc/maps.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "List available map regions/releases",
        "description": "List available map regions/releases. Does not list custom maps.",
        "operationId": "mapsJSONUsingGET_1",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/MapDocResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/doc/scontent.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "List static layer's attributes",
        "description": "List the attributes of a given static (non tiled) layer. Does not work for custom layers.",
        "operationId": "staticContentJSONUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content",
            "in": "query",
            "description": "Static content layer name",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StaticContentDetailDocBean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/doc/scontents.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "List static content layers",
        "description": "List the available static content (non-tiled) layers. Does not list custom layers.",
        "operationId": "staticContentsJSONUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StaticContentDocBean"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/file.bin": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "File content",
        "description": "Retrieve the binary content of a file, like a junction view image",
        "operationId": "getFileUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer",
            "in": "query",
            "description": "layer name",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "description": "file path, as specified in the referencing layer's attribute value",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/index.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "Tile IDs containing a given value",
        "description": "Retrieve the IDs of tiles that contain a given (set of) attribute value(s). Does not work for custom layers.",
        "operationId": "indexJSONUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer",
            "in": "query",
            "description": "layer name",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "comma separated list of index attribute names",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "values",
            "in": "query",
            "description": "comma separated list of index attribute values, corresponding to the attribute names",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/IndexResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/search/bbox.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "Retrieve layer content within given geo rectangle",
        "description": "Retrieve the layer content records within given geo bounding box. Does not work for custom layers.",
        "operationId": "searchBboxUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer_id",
            "in": "query",
            "description": "Layer name to be searched. Layer name is not case sensitive. The maximum length of a layer name and the permitted characters can be looked up up in the service via /serviceconfiguration.json",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key_attribute",
            "in": "query",
            "description": "the key column(s) of this layer, as defined in the layer specification",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "List of comma separated column names to specify which attributes shall appear in the result. Column names are not case sensitive. Default = all.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bbox",
            "in": "query",
            "description": "A bounding box, provided as upper, left, lower and right coordinates in WGS84 degrees. All geometries overlapping this rectangle will be returned.\r\nThe format is north latitude,west longitude;south latitude,east longitude.\r\nExample: bbox=37.8,-122.1;37.2,-122.0",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geom",
            "in": "query",
            "description": "local, full or none. Specifies the geometry representation in the result. Default = local. Local geometry is used for map display purposes, returning geometry pieces that cover the given search radius, bounding box or corridor polygon. Full geometry is used for interactive editing, where the original geometry is required. None is used for applications like geofencing, which most of the time want to know only the ids of the geofence points/lines polygons they are in or near.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "release",
            "in": "query",
            "description": "Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a specific snapshot of the weather archive layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GeometrySearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/search/corridor.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "Retrieve layer content within given geo corridor",
        "description": "Retrieve the layer content records within an airline distance along a given polyline. Does not work for custom layers.",
        "operationId": "searchCorridorUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer_ids",
            "in": "query",
            "description": "Comma separated list of layer names to be searched. Layer names are not case sensitive. The maximum length of a layer name and the permitted characters can be looked up up in the service via /serviceconfiguration.json",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key_attributes",
            "in": "query",
            "description": "the key column(s) of this layer, as defined in the layer specification",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "List of comma separated column names to specify which attributes shall appear in the result. Column names are not case sensitive. Default = all.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corridor",
            "in": "query",
            "description": "Either corridor, route_id or routeHandle is required.\r\nThe WGS84 degree coordinates of the polyline used as corridor center line.\r\nFor example:\r\nlatitude 1,longitude 1;latitude 2,longitude 2;...",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "route_id",
            "in": "query",
            "description": "Either corridor, route_id or routeHandle is required.\r\nA route_id obtained from a previous v7.2 Router call. This route_id will be turned into a corridor polyline.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "routeHandle",
            "in": "query",
            "description": "Either corridor, route_id or routeHandle is required.\r\nA routeHandle obtained from a previous v8 Router call. This routeHandle will be turned into a corridor polyline.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "The buffer search radius in meters.All geometries overlapping the corridor polygon will be returned.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "geom",
            "in": "query",
            "description": "local, full or none. Specifies the geometry representation in the result. Default = local. Local geometry is used for map display purposes, returning geometry pieces that cover the given search radius, bounding box or corridor polygon. Full geometry is used for interactive editing, where the original geometry is required. None is used for applications like geofencing, which most of the time want to know only the ids of the geofence points/lines polygons they are in or near.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "The routing mode (e.g. fastest;car;traffic:disabled) that determines how the route is calculated. When route_id/routeHandle is used for the corridor search then please specify the same mode which was used to get the route id or route handle.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transportMode",
            "in": "query",
            "description": "Mode of transport to be used for the route calculation: car, truck, pedestrian;It determines how the route is calculated. When routeHandle is used for the corridor search then please specify the same transportMode which was used to get the route handle.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "routingMode",
            "in": "query",
            "description": "Specifies which optimization is applied during route calculation: fast, short;It determines how the route is calculated. When routeHandle is used for the corridor search then please specify the same routingMode which was used to get the route handle.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "release",
            "in": "query",
            "description": "Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a specific snapshot of the weather archive layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GeometrySearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "Retrieve layer content within given geo corridor",
        "description": "Retrieve the layer content records within an airline distance along a given polyline. Does not work for custom layers.",
        "operationId": "searchCorridorUsingPOST",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer_ids",
            "in": "query",
            "description": "Comma separated list of layer names to be searched. Layer names are not case sensitive. The maximum length of a layer name and the permitted characters can be looked up up in the service via /serviceconfiguration.json",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key_attributes",
            "in": "query",
            "description": "the key column(s) of this layer, as defined in the layer specification",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "List of comma separated column names to specify which attributes shall appear in the result. Column names are not case sensitive. Default = all.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "corridor",
            "in": "query",
            "description": "Either corridor, route_id or routeHandle is required.\r\nThe WGS84 degree coordinates of the polyline used as corridor center line.\r\nFor example:\r\nlatitude 1,longitude 1;latitude 2,longitude 2;...",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "route_id",
            "in": "query",
            "description": "Either corridor, route_id or routeHandle is required.\r\nA route_id obtained from a previous v7.2 Router call. This route_id will be turned into a corridor polyline.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "routeHandle",
            "in": "query",
            "description": "Either corridor, route_id or routeHandle is required.\r\nA routeHandle obtained from a previous v8 Router call. This routeHandle will be turned into a corridor polyline.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "The buffer search radius in meters.All geometries overlapping the corridor polygon will be returned.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "geom",
            "in": "query",
            "description": "local, full or none. Specifies the geometry representation in the result. Default = local. Local geometry is used for map display purposes, returning geometry pieces that cover the given search radius, bounding box or corridor polygon. Full geometry is used for interactive editing, where the original geometry is required. None is used for applications like geofencing, which most of the time want to know only the ids of the geofence points/lines polygons they are in or near.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "The routing mode (e.g. fastest;car;traffic:disabled) that determines how the route is calculated. When route_id/routeHandle is used for the corridor search then please specify the same mode which was used to get the route id or route handle.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transportMode",
            "in": "query",
            "description": "Mode of transport to be used for the route calculation: car, truck, pedestrian;It determines how the route is calculated. When routeHandle is used for the corridor search then please specify the same transportMode which was used to get the route handle.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "routingMode",
            "in": "query",
            "description": "Specifies which optimization is applied during route calculation: fast, short;It determines how the route is calculated. When routeHandle is used for the corridor search then please specify the same routingMode which was used to get the route handle.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "release",
            "in": "query",
            "description": "Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a specific snapshot of the weather archive layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GeometrySearchResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/search/quadkey.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "Retrieve layer content within a quadkey",
        "description": "Retrieve the layer content records within a given geo rectangle specified by a (standard WGS84 Mercator) quadkey. Does not work for custom layers.",
        "operationId": "searchQuadKeyUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer_id",
            "in": "query",
            "description": "Layer name to be searched. Layer name is not case sensitive. The maximum length of a layer name and the permitted characters can be looked up up in the service via /serviceconfiguration.json",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key_attribute",
            "in": "query",
            "description": "the key column(s) of this layer, as defined in the layer specification",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "List of comma separated column names to specify which attributes shall appear in the result. Column names are not case sensitive. Default = all.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quad_key",
            "in": "query",
            "description": "The quad key number of the map tile area to search from.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geom",
            "in": "query",
            "description": "local, full or none. Specifies the geometry representation in the result. Default = local. Local geometry is used for map display purposes, returning geometry pieces that cover the given search radius, bounding box or corridor polygon. Full geometry is used for interactive editing, where the original geometry is required. None is used for applications like geofencing, which most of the time want to know only the ids of the geofence points/lines polygons they are in or near.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Optional (default=whole world excl. JPN, CHN, SK). Map coverage region, e.g. APAC, AUS, WEU, IND, MEA, NA, SAM, TWN, JPN. The region may contain hints to distinguish specific content. E.g. there can be an WEU and PCBEU, where the 2nd map contains only Postal Code Boundary layers. If not specified, the service will find the region(s) automatically, that cover the request. The parameter can contain a comma separated list of regions (f.e. WEU,MEA). If the region parameter is specified, the service will use these region(s) and skip region(s) that may also cover the response (f.e. EEU). Except of JPN, specifying a region is strongly discouraged, because regions might change and hence applications that specify a region might stop working when the region gets discontinued, renamed, split or changed otherwise. As the APAC region contains a simplified entry map content of JPN, JPN needs to be specified as region to access the full JPN content.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "release",
            "in": "query",
            "description": "Map release quarter, e.g. 2015Q4, 161J0, 16153 or LATEST (= default) for the latest available map release quarter. Specifying a map release is strongly discouraged, because there is no guarantee how long old map releases are available, hence applications that specify a release might stop working when the release gets retired. To choose a specific snapshot of the weather archive layer, a UNIX timestamp (number of milliseconds since 1970) or a date in 2017-12-01T17:30:00+01:00 format can be passed.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/GeometrySearchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/serviceconfiguration.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "Service parameter boundary values",
        "description": "Numeric constants and limits for the service calls. Will never become more strict, but can become more relaxed in future releases.",
        "operationId": "getServiceConfigurationUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceConfigurationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/static.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "Static layer's content",
        "description": "Retrieve the rows from the static layer's content. Does not include custom layers.",
        "operationId": "staticJSONUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content",
            "in": "query",
            "description": "Static content layer name",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "Specifies the function used to wrap the JSON response.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "link2stabletopologyid",
            "in": "query",
            "description": "Optional. If '1' then the result records have 2 additional columns: TOPOLOGY_ID and START_OFFSET. The HERE topology segment PVID identifies a stretch of roads between 2 intersections. Links are subsets of a topology segment, hence the offset attributes define the range of the link within the topology segment [0..1].",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/TileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "apiKey": [

            ]
          },
          {
            "bearerTokenAuth": [

            ]
          }
        ]
      }
    },
    "/1/tile.json": {
      "get": {
        "tags": [
          "Map Attributes",
          "Search"
        ],
        "summary": "Tile of rows from a layer",
        "description": "Retrieve the rows from within a given tile of this layer. Does not work for custom layers.",
        "operationId": "tileJsonUsingGET",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "required": false,
            "style": "form",
            "allowReserved": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_id",
            "in": "query",
            "description": "app_id",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_code",
            "in": "query",
            "description": "app_code",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "layer",
            "in": "query",
            "description": "Thematic layer name",
[...]
